---
title: Jerry Jiang (tpcstld)
---
<!DOCTYPE html>
<html>
    <head>
        {% include statichead.html %}
    </head>
    <body>
        {% include header.html current_page="Projects" %}
        <div class="mdl-grid">
            {% for project in site.data.projects %}
            <div class="mdl-cell mdl-cell--4-col">
              <div class="mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand">
                  <h4>{{ project.name }}</h4>
                </div>
                <div class="mdl-card__supporting-text">
                  {{ project.description }}
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ project.url }}">
                    View project
                  </a>
                </div>
              </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="small-12 text-center">
                <span>See my <a href="//github.com/tpcstld">GitHub</a> for more information.</span>
            </div>
        </div>
        {% include staticbottom.html %}
    </body>
</html>
