---
title: Jerry Jiang
---
<!DOCTYPE html>
<html>
    <head>
		{% include statichead.html current_page="Projects" %}
    </head>
    <body>
		{% include header.html %}
		<div class="row">
			{% for project in site.data.projects %}
			<div class="small-12 medium-4 columns text-center {% if forloop.last %}end{% endif %}">
				<a class="button expand" target="_blank" href="{{ project.url }}">
					<span>{{ project.name }}</span>
					<br>
					<span><small>{{ project.description }}</small></span>
				</a>
			</div>
			{% endfor %}
		</div>
		{% include staticbottom.html %}
    </body>
</html>
