<div class="row text-center">
    <div id="title-row" class="small-12 columns">
        <h1 >Jerry Jiang</h1>
        <strong>2A Software Engineering, University of Waterloo</strong>
    </div>
</div>
<div id="nav-row" class="row text-center">
{% for webpage in site.data.webpages %}
{% if include.current_page == webpage.name %}
    <strong>{{ webpage.name }}</strong>
{% else %}
    <a href="{{ webpage.url }}">{{ webpage.name }}</a>
{% endif %}
{% if forloop.last == false %}
    <span> · </span>
{% endif %}
{% endfor %}
</div>
