<div id="header">
	<div id="title-row" class="row text-center">
		<div class="small-12 columns">
			<h1>Jerry Jiang</h1>
			<strong>2A Software Engineering, University of Waterloo</strong>
		</div>
	</div>
	<div id="nav-row" class="row text-center">
	{% for page in webpages %}
	{% if include.current_page == page.name %}
		<strong>{{ page.name }}</strong>
	{% else %}
		<a href="{{ page.url }}">{{ page.name }}</a>
	{% endif %}
	{% if forloop.last == false %}
		<span> · </span>
	{% endif %}
	{% endfor %}
	</div>
</div>