---
title: About - Jerry Jiang (tpcstld)
---
<!DOCTYPE html>
<html>
    <head>
        {% include statichead.html %}
    </head>
    <body>
        {% include header.html current_page="About" %}
        <div class="row">
            <div class="small-12 columns">
                <p>My name is <strong>Jerry Jiang</strong>. I'm 19 years old and I currently live in Canada.</p>
                <p>On the internet, I go under the alias <strong>tpcstld</strong>. It's a pseudo-GUID that I made to avoid username collisions.</p>
                <p>I've been programming since I was 13, and I've been hanging around computers since I was 3.</p>
                <p>I enjoy playing video games, with a library of over 226 games on Steam. My most played game is <a href="//na.op.gg/summoner/userName=tpcstld">League of Legends</a>, add me if you play too!</p>
                <p>I spend my spare time watching anime, taking midnight walks, surfing Reddit, and viewing educational YouTube videos.</p>
                <p>You can contact me through <a href="mailto:jerry@tpcstld.me">jerry@tpcstld.me</a>.</p>
            </div>
        </div>
        {% include staticbottom.html %}
    </body>
</html>
