---
title: Resume - Jerry Jiang (tpcstld)
---
<!DOCTYPE html>
<html>
  <head>
    {% include statichead.html %}
  </head>
  <body>
    {% include header.html current_page="Resume" %}
    <div class="row">
      <div class="small-12 columns">
        <ul>
          <h4><strong>Technical Qualifications</strong></h4>
          <ul>
            <span><strong>Languages:</strong> Javascript, Scala, Python, Java, C#, C++, Bash, SQL, R, Visual Basic</span><br>
            <span><strong>Technologies:</strong> React, AngularJS, Play, Flask, Node.js, Amazon Web Services</span><br>
            <span><strong>Tools and IDEs:</strong> Git, SVN, Vim, Eclipse, Visual Studio, SQL Server, Android Studio, IntelliJ IDEA, IDLE</span><br>
          </ul>
          <h4><strong>Work Experience</strong></h4>
          <ul>
            <span><a href="//www.coursera.org"><strong>Coursera</strong></a> - Mountain View, California</span><span style="float:right;">January 2015 - May 2015</span></br>
            <span><strong>Data Infrastructure Engineer</strong></span>
            <ul>
              <li>Built the frontend for Coursera's internal A/B testing platform in React, including experiment management tools and an analytics dashboard; scaling it up from 20 to 200 A/B experiments in 3 months</li>
              <li>Developed and maintained existing back-end services; such as adding by-URL allocated A/B experiments, and modifying Coursera's second-most popular API endpoint</li>
              <li>Co-authored <a href="//github.com/coursera/dataduct">Dataduct</a>, Coursera's open-source ETL library for Amazon Data Pipeline and Redshift, which manages all of Coursera's 110+ ETLs and 360+ tables for its data warehouse</li>
              <li>Extended Coursera's accounting system to support its new "on-demand" platform
            </ul>
          </ul>
          <ul>
            <span><a href="//www.d2l.com/"><strong>Desire2Learn Incorporated</strong></a> - Kitchener, Waterloo</span><span style="float:right;">April 2014 - August 2014</span></br>
            <span><strong>Software Developer</strong></span>
            <ul>
              <li>Designed, implemented, and maintained new and existing features for webpages and products</li>
              <li>Collaborated with teammates to resolve over 40 performance, usability, and security issues</li>
              <li>Extended RESTful APIs and command-line applications to help a client manage 30000 metadata entries</li>
            </ul>
          </ul>
          <h4><strong>Education</strong></h4>
          <ul>
            <span><strong>Candidate for Software Engineering</strong></span><span style="float:right;">Sept 2013 - Present</span><br>
            <span>University of Waterloo, Waterloo, Ontario</span><br>
          </ul>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns text-center">
        <a href="resume.pdf">PDF, detailed version</a>
      </div>
    </div>
    {% include staticbottom.html %}
  </body>
</html>
