.title {
  margin-top: 50px;
  text-align: center;
}

.name {
  font-size: 2.75rem;
  line-height: 1.4;
  font-weight: normal;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

.routeBanner {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 10px;
}

.route {
  color: #008cba;
  text-decoration: none;
}
